#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Floating Pisi
Name[ar]=متّة طافية
Name[be]=Pisi плавае
Name[bg]=Плаващ Pisi
Name[ca]=Pisi flotant
Name[cmn]=浮動的 Pisi
Name[cs]=Plovoucí logo Pisi
Name[da]=Flydende Pisi
Name[de]=Schwebendes Mate
Name[el]=Ελεύθερα μετακινούμενο Pisi
Name[en_AU]=Floating Pisi
Name[en_GB]=Floating Pisi
Name[es]=Pisi flotante
Name[et]=Hõljuv Pisi
Name[fa]=Pisi معلق
Name[fr]=Pisi flottant
Name[gl]=Pisi flotante
Name[hi]=फ्लोटिंग माटे
Name[hr]=Plutajući Pisi
Name[hu]=Lebegő Pisi
Name[id]=Pisi Mengapung
Name[is]=Fljótandi Pisi
Name[it]=Pisi fluttuante
Name[ja]=フローティング Pisi
Name[ko]=떠다니는 Pisi
Name[lt]=Plaukiojantis Pisi
Name[ms]=Pisi terapung
Name[nl]=Pisi-logo's
Name[pl]=Latające Pisi
Name[pt]=Pisi Flutuante
Name[pt_BR]=Pisi Flutuante
Name[ru]=Плавающий Pisi
Name[sk]=Lietajúce Pisi
Name[sl]=Lebdeči Pisi
Name[sr]=Лебдећи Мејт
Name[sv]=Flytande Pisi
Name[tr]=Yüzen Pisi
Name[uk]=Плаваючий Pisi
Name[zh_CN]=浮动的 Pisi
Name[zh_TW]=浮動 Pisi
Comment=Bubbles the Pisi logo around the screen
Comment[ar]=فقاعات شعار متّة حول الشّاشة
Comment[be]=Бурбалкі з лагатыпам Pisi па ўсім экране
Comment[bg]=Балончета по екрана с логото на Pisi
Comment[ca]=Bombolles amb el logotip del Pisi per tota la pantalla
Comment[cmn]=畫面上四處移動的 Pisi 圖標泡泡
Comment[cs]=Bublinky loga Pisi po obrazovce
Comment[da]=Bobler Pisi-logoet omkring på skærmen
Comment[de]=Das Pisi-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του Pisi στην οθόνη
Comment[en_AU]=Bubbles the Pisi logo around the screen
Comment[en_GB]=Bubbles the Pisi logo around the screen
Comment[es]=Burbujas del logo Pisi alrededor de la pantalla
Comment[et]=Pisi logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی Pisi در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo Pisi sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do do Pisi pola pantalla
Comment[hi]=स्क्रीन के चारों ओर माटे के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak Pisi po zaslonu
Comment[hu]=A Pisi logót lebegteti körbe a képernyőn
Comment[id]=Balonkan logo Pisi di sekitar layar
Comment[is]=Freyðir Pisi -merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di Pisi sullo schermo
Comment[ja]=画面の回りに Pisi のロゴが浮かびます
Comment[ko]=화면에 마테 로고가 떠다닙니다
Comment[lt]=Pisi logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo Pisi disekeliling skrin
Comment[nl]=Toont vliegende Pisi-logo's op het scherm.
Comment[pl]=Wyświetla na ekranie logo Pisi
Comment[pt]=Bolhas com o logótipo do Pisi por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo Pisi ao redor da tela
Comment[ru]=Всплывающие по всему экрану логотипы Pisi
Comment[sk]=Bublinkovať logo Pisi po obrazovke
Comment[sl]=Premikanje mehurčkov z logotipom Pisi po zaslonu
Comment[sr]=Приказује мехуриће Мејтовог обележја по екрану
Comment[sv]=Bubblar runt Pisi loggan på skärmen
Comment[tr]=Ekran üzerinde Pisi logosu baloncukları oluşturur
Comment[uk]=Спливаючі по усьому екрану логотипи Pisi
Comment[zh_CN]=在屏幕上如泡泡一样浮动 Pisi 徽标
Comment[zh_TW]=讓 Pisi 標誌圍繞畫面
Exec=/usr/libexec/mate-screensaver/floaters /usr/share/pixmaps/pisi.svg
TryExec=/usr/libexec/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
