#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Floating Turkey
Name[ar]=متّة طافية
Name[be]=Turkey плавае
Name[bg]=Плаващ Turkey
Name[ca]=Turkey flotant
Name[cmn]=浮動的 Turkey
Name[cs]=Plovoucí logo Turkey
Name[da]=Flydende Turkey
Name[de]=Schwebendes Mate
Name[el]=Ελεύθερα μετακινούμενο Turkey
Name[en_AU]=Floating Turkey
Name[en_GB]=Floating Turkey
Name[es]=Turkey flotante
Name[et]=Hõljuv Turkey
Name[fa]=Turkey معلق
Name[fr]=Turkey flottant
Name[gl]=Turkey flotante
Name[hi]=फ्लोटिंग माटे
Name[hr]=Plutajući Turkey
Name[hu]=Lebegő Turkey
Name[id]=Turkey Mengapung
Name[is]=Fljótandi Turkey
Name[it]=Turkey fluttuante
Name[ja]=フローティング Turkey
Name[ko]=떠다니는 Turkey
Name[lt]=Plaukiojantis Turkey
Name[ms]=Turkey terapung
Name[nl]=Turkey-logo's
Name[pl]=Latające Turkey
Name[pt]=Turkey Flutuante
Name[pt_BR]=Turkey Flutuante
Name[ru]=Плавающий Turkey
Name[sk]=Lietajúce Turkey
Name[sl]=Lebdeči Turkey
Name[sr]=Лебдећи Мејт
Name[sv]=Flytande Turkey
Name[tr]=Yüzen Turkey
Name[uk]=Плаваючий Turkey
Name[zh_CN]=浮动的 Turkey
Name[zh_TW]=浮動 Turkey
Comment=Bubbles the Turkey logo around the screen
Comment[ar]=فقاعات شعار متّة حول الشّاشة
Comment[be]=Бурбалкі з лагатыпам Turkey па ўсім экране
Comment[bg]=Балончета по екрана с логото на Turkey
Comment[ca]=Bombolles amb el logotip del Turkey per tota la pantalla
Comment[cmn]=畫面上四處移動的 Turkey 圖標泡泡
Comment[cs]=Bublinky loga Turkey po obrazovce
Comment[da]=Bobler Turkey-logoet omkring på skærmen
Comment[de]=Das Turkey-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του Turkey στην οθόνη
Comment[en_AU]=Bubbles the Turkey logo around the screen
Comment[en_GB]=Bubbles the Turkey logo around the screen
Comment[es]=Burbujas del logo Turkey alrededor de la pantalla
Comment[et]=Turkey logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی Turkey در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo Turkey sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do do Turkey pola pantalla
Comment[hi]=स्क्रीन के चारों ओर माटे के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak Turkey po zaslonu
Comment[hu]=A Turkey logót lebegteti körbe a képernyőn
Comment[id]=Balonkan logo Turkey di sekitar layar
Comment[is]=Freyðir Turkey -merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di Turkey sullo schermo
Comment[ja]=画面の回りに Turkey のロゴが浮かびます
Comment[ko]=화면에 마테 로고가 떠다닙니다
Comment[lt]=Turkey logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo Turkey disekeliling skrin
Comment[nl]=Toont vliegende Turkey-logo's op het scherm.
Comment[pl]=Wyświetla na ekranie logo Turkey
Comment[pt]=Bolhas com o logótipo do Turkey por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo Turkey ao redor da tela
Comment[ru]=Всплывающие по всему экрану логотипы Turkey
Comment[sk]=Bublinkovať logo Turkey po obrazovke
Comment[sl]=Premikanje mehurčkov z logotipom Turkey po zaslonu
Comment[sr]=Приказује мехуриће Мејтовог обележја по екрану
Comment[sv]=Bubblar runt Turkey loggan på skärmen
Comment[tr]=Ekran üzerinde Turkey logosu baloncukları oluşturur
Comment[uk]=Спливаючі по усьому екрану логотипи Turkey
Comment[zh_CN]=在屏幕上如泡泡一样浮动 Turkey 徽标
Comment[zh_TW]=讓 Turkey 標誌圍繞畫面
Exec=/usr/libexec/mate-screensaver/floaters /usr/share/pixmaps/turkey.svg
TryExec=/usr/libexec/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
